<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'core/styles.css' %}">

<button onclick="toggleDarkMode()" style="margin-top: 20px;">
    🌗 Change mode
</button>

<script>
    // Al cargar la página, aplicamos el modo oscuro si estaba activado
    const darkModeSetting = localStorage.getItem('darkMode');

    if (darkModeSetting === 'enabled') {
        document.body.classList.add('dark-mode');
    } else {
        document.body.classList.remove('dark-mode');
    }


    function toggleDarkMode() {
        document.body.classList.toggle('dark-mode');

        // Guardamos el estado del modo en localStorage
        if (document.body.classList.contains('dark-mode')) {
            localStorage.setItem('darkMode', 'enabled');
        } else {
            localStorage.setItem('darkMode', 'disabled');
        }
    }
</script>



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maíz Yield Calculator</title>
</head>

<body>
    <h1>🧮 Corn Production Calculator 🌽</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Calculate</button>
    </form>

    {% if result %}
    <h2>Result:</h2>
    <ul>
        <li>Total bushes: {{ result.total_plants }}</li>
        <li>Total corn on the cob: {{ result.total_cobs }}</li>
        <li>Estimated profit: ${{ result.total_income }}</li>
    </ul>
    {% endif %}
</body>

</html>